@model TelevisionModel.Content.TelevisionChannel

@{
    ViewData["Title"] = "Channel broadcast";
}

<div class="text-center">

    <div class="navbar-expand-lg" style="margin-top: 30px">
        <a asp-controller="Television" asp-action="TurnOff">
            <button type="button" class="btn btn-dark">Power</button>
        </a>
        <button type="button" class="btn btn-dark">Change volume</button>
        <a asp-controller="Television" asp-action="Next">
            <button type="button" class="btn btn-dark">Next</button>
        </a>
        <a asp-controller="Television" asp-action="Previous">
            <button type="button" class="btn btn-dark">Previous</button>
        </a>
        <a asp-controller="Television" asp-action="MainMenu">
            <button type="button" class="btn btn-dark">Main menu</button>
        </a>
        <a asp-controller="Television" asp-action="Streaming">
            <button type="button" class="btn btn-dark">Streaming</button>
        </a>
        <button type="button" class="btn btn-dark">Screencast</button>
    </div>

    <div class="container mt-5">
        <div class="tv-screen">
            <h4 style="color: white; margin-top: 10px; font-size: 25px">@ViewData["Title"]</h4>
            <p>Channel name: @Model.Name</p>
            <img src="@Model.BuildLogoUrl()" alt="Television channel image"/>
        </div>
    </div>
</div>