@{
    ViewData["Title"] = "Turned off";
}

<head>
    <title>@ViewData["Title"]</title>
</head>

<div class="text-center">
    
    <div class="navbar-expand-lg" style="margin-top: 30px">
            <a asp-area="" asp-controller="Television" asp-action="TurnOn">
                <button type="button" class="btn btn-dark">
                    Power
                </button>
            </a>
    </div>

    <div class="container mt-5">
            <div class="tv-screen">
            </div>
    </div>
</div>